@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    top: 0;left: 0;right: 0;
    width: 100%;
    height: 100%;min-height: 80px;
    background: #FFFFFF;
    display: flex;
    flex-basis: 10%;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    box-shadow: 0 5px 10px #5C8692;
    font-family: 'Manrope', sans-serif, serif;
    flex-flow: row wrap;
}

.logo {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    margin-right: 1%;
}

.phone-number {
    display: flex;
    align-items: center;
}

.phone-number a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #141414;
    margin-left: 10px;
    text-decoration: none;
}

.nav-list {
    margin-left: 5%;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
}


.nav-item {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 80px;
}

.nav-link {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 64px;
    justify-content: center;
    min-width: 135px;
    color: #141414;
    font-weight: 400;
    font-size: 17px;
    text-decoration: none;
    transition: .3s;
    padding: 0 20px;
    line-height: 50px;
}

.nav-item #home {
    color: #5C8692;
}

.nav-item:hover {
    background: #5C869250;
    color: #FFFFFF;
    border-radius: 25px;
}

.smedia-list {
    margin-right: 2%;
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    min-height: 80px;
}

.smedia-link {
    margin: 1rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.smedia-link:hover{
    transform: scale(1.2);
}

header button {
    display: flex;
    background-color: #5C8692;
    color: #FFFFFF;
    height: 59px;width: 201px;
    border: 2px solid #5C8692;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    line-height: 21px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

header button:hover{
    background: rgba(0,0,0,0);
	color: #5C8692;
	box-shadow: inset 0 0 0 3px #5C8692;
}

.main-box {
    flex-basis: 80%;
    display: flex;
    flex-grow: 1;
    align-items:center;
    align-content: center;
    justify-content:space-between;
    background: #EBF3F5;
    gap: 10%;
    min-height: 90vh;
}

.text-block {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    flex-basis: 40%;
    font-family: 'Manrope', sans-serif, serif;
    flex-grow: 1;
}

.welcome{
    display: flex;
}

#sign {
    height: 20.93px;width: 22px;
    margin-right: 7px;
}

.welcome h4{
    height: 23px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #5C8692;
}

section h1{
    left: 0%;right: 33.11%;top: 27.5px;
    font-family: 'Playfair Display', sans-serif, serif;
    font-size: 55px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: 0.66px;
    text-align: left;
    margin-bottom: 20px;margin-top: 10px;
}

section p{
    height: 92px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: #555555;
}

.text-block button {
    display: flex;
    background-color: #5C8692;
    height: 57px;Width: 238px;
    border: 2px solid #5C8692;
    letter-spacing: 1.56px;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 13px;font-weight: 400;
    color: #FFFFFF;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-top: 26px;
}

.text-block button:hover{
    background: rgba(0,0,0,0);
	color: #5C8692;
	box-shadow: inset 0 0 0 3px #5C8692;
}

.content {
    display: block;
    position: relative;
    flex-grow: 1;
    margin-right: 10%;
    /* flex-basis: 40%; */
    /* height: 645px;width: 592px; */
}

div.box{
    display:block;
    height: 645px;width: 592px;
    border: 10px solid #5C8692;
    /* margin-top: 225px;
    margin-bottom: 120px; */
    /* margin-right: 120px;
    margin-left: 725px; */
}

#girl{
    position: absolute;
    display: flex;
    height: 545px;width: 550px;
    top: 50px; bottom:50px;
    left: -60px;
}
